<!DOCTYPE html>
<html>
<head>
	<title>Contacts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron">
		<h1>PHONEBOOK</h1>      
		<p>Add Contacts</p>
	</div>

	<div class="form-group">  
		<form action="/phonebook/add/" method="post">{% csrf_token %}
			<label for="user">Select user:</label>
			<select class="form-control" name="user">
				{% for user in users %}
					<option>{{ user }}</option>
				{% endfor %}   
			</select>
			<br>
			<div class="form-group">
			  <label for="name">Contacts Name:</label>
			  <input type="text" class="form-control" name="contactName" id="contactName">
			</div>
			<div class="form-group">
			  <label for="contacts">Contacts Details: <i>[]</i></label>
			  <input type="text" class="form-control" name="contacts" id="contacts">
			</div>
	  	<button type="submit" class="btn btn-default">Add</button>
		</form>
	</div> 
</body>
</html>